<launch>
    <arg name="color" default="red" />

    <!-- 下潜的深度-->
    <param name="depth" type ="double" value="0.5" />
    <param name="pitch_offset" type="double" value="1.5" />
    
    <!-- task1: 记录三个点 -->
    <param name="detect_door" type="bool" value="false" />
    <param name="task1_target_class" type="string" value="$(arg color)" />
    <!-- task1：第一个点，任务初始点 -->
    <param name="task1_point0" type="yaml" value="[-1.295, 2.4, 0.55, 165.0]" /> 
    <!-- task1：第二个点，红色门的点 -->
    <param name="task1_pointred" type="yaml" value="[-3.210, 2.0, 0.58, 165.0]" />
    <!-- task1：第三个点，蓝色门的点 -->
    <param name="task1_pointblue" type="yaml" value="[-2.5, 3.25, 0.58, 165.0]" />

    <!-- task2：寻找目标释放作业任务：点1 单位 m/m/m/° -->
    <param name="task2_point0" type="yaml" value="[0.2, 8.3, 0.49, -15.0]" />
    <!-- task2：寻找目标释放作业任务：目标监测class -->
    <param name="task2_target_class" type="string" value="black" />
    <!-- <param name="task2_target_yaw" type="double" value="0.0" /> -->

    <!-- 任务3：夹小球 -->
    <!-- 夹球的高度要比其他的高度高3cm -->
    <!-- point0 初始点 -->
    <param name="task3_point0" type="yaml" value="[-1, 7.35, 0.48, -46.2]" />
    <!-- 高度提高3cm -->
    <!-- 根据实际颜色夹球 -->
    <param name="task3_target_class" type="string" value="$(arg color)"  />
    <!-- 第二次搜索最大距离0.8m -->
    <param name="search2_max_dist" type="double" value="0.8" />

    <!-- 任务4 巡线 --> 
    <!-- 深度应该比标准深度深10cm -->
    <!-- point0 初始点 -->
    <param name="task4_point0" type="yaml" value="[-4, 2.5, 0.75, 150]" />
    <!-- point1 结束点 -->
    <param name="task4_point1" type="yaml" value="[-2.69, 6.6, 0.51, 67.1]" />
    <param name="task4_target_shape1" type="string" value="triangle" />
    <param name="task4_target_shape2" type="string" value="rectangle" />
    <param name="task4_target_shape3" type="string" value="circle" />  
    <param name="task4_target_shape" type="string" value="track" />

    <!-- 任务5 上浮目标点 -->
    <param name="task5_point0" type="yaml" value="[0.507, 5.6, 0.4, -90]" />
    
</launch>