<launch>
    <node pkg="auv_control" type="debug_driver.py" name="debug_driver" output="screen" >
        <param name="debug_ip" value="192.168.1.115" />
        <param name="debug_port" value="5063" />
        <param name="save_path" type="string" value="/home/xhy/catkin_ws/debug_data260110-1.csv" />
        <param name="save_data" type="bool" value="true" />
    </node>
</launch>
