<launch>
    <arg name="host" default="192.168.1.122" />
    <arg name="port" default="554" />
    <arg name="username" default="admin" />
    <arg name="password" default="admin" />
    <arg name="channel" default="1" />
    <arg name="subtype" default="0" />
    <arg name="rtsp_path" default="/cam/realmonitor?channel={channel}&amp;subtype={subtype}" />
    <arg name="rtsp_url" default="" />
    <arg name="transport" default="tcp" />
    <arg name="image_topic" default="/fisheye_camera/image_raw" />
    <arg name="frame_id" default="fisheye_camera" />
    <arg name="output_width" default="0" />
    <arg name="output_height" default="0" />
    <arg name="reconnect_delay" default="2.0" />

    <node pkg="fisheye_camera_driver"
          type="rtsp_fisheye_driver.py"
          name="rtsp_fisheye_driver"
          output="screen"
          respawn="true"
          respawn_delay="2.0">
        <rosparam command="load"
                  file="$(find fisheye_camera_driver)/config/driver.yaml" />

        <param name="host" value="$(arg host)" />
        <param name="port" value="$(arg port)" />
        <param name="username" value="$(arg username)" />
        <param name="password" value="$(arg password)" />
        <param name="channel" value="$(arg channel)" />
        <param name="subtype" value="$(arg subtype)" />
        <param name="rtsp_path" value="$(arg rtsp_path)" />
        <param name="rtsp_url" value="$(arg rtsp_url)" />
        <param name="transport" value="$(arg transport)" />
        <param name="image_topic" value="$(arg image_topic)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="output_width" value="$(arg output_width)" />
        <param name="output_height" value="$(arg output_height)" />
        <param name="reconnect_delay" value="$(arg reconnect_delay)" />
    </node>
</launch>
